@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive, sans-serif;
}


header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  padding-top: 20px;
}



header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  padding: 5px 10px;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header ul li a.active,
header ul li a:hover {
  background: #e4e4e4a8;
  border-radius: 5px;
}

.toggle {
  display: none;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;/*
  padding: 150px 100px 100px;*/
  text-align: center;
}

section p {
  font-size: 19px;
}

#home h2{
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 10px;
}

section a {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  background: #111;
  color: #fff;
  margin-top: 20px;
}

.row {
  display: flex;
  width: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 40px;
   height: 670px;
   position: relative;
}

#transparan-back{
/*  background: rgb(39 39 39 / 57%);*/
  background: linear-gradient(1deg, #2b0118d9, #00000012);
  width: 100%;
  height: 697px;
  padding-top: 250px;

}

#list{
  background: #cbbcb1;
}

#laporin{
  background: linear-gradient(180deg, #2b0118eb, #2b0118d9);
  position: relative;
  color: #f5f0f0;
}
#laporin img{
  width: 36%;
  height: auto;
  bottom: 0;
  position: absolute;
  object-position: center;
  left: 20px;
}
.desc-what{
  text-align: left;
  padding-left: 580px;

}

#bg3{
position: relative;
 top: 0;
}
 

section:nth-child(odd) {
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("../aset/homie-min4.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  color: #fff;
}


@media (max-width: 992px) {

  section {
    padding: 100px 50px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  section img {
    max-width: 100%;
  }


  header ul {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 50px 100px;
    text-align: center;
    overflow: auto;
    transition: 0.5s;
    background: #000;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
  }

  header.active ul {
    opacity: 1;
    top: 80px;
    transform: translateY(0);
  }

  header ul li a {
    margin: 5px 0;
    font-size: 24px;
  }

  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle::before {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggle:after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }

  header.active .toggle:before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  header.active .toggle:after {
    bottom: 14px;
    transform: rotate(-45deg);
  }

}

#profile{
  background-image: url("../aset/back-who.jpg");
}

#profile h1{
  padding-left: 4%;
  font-size: 2em;
}

aside{
  margin-right: 50px;

}

footer{
  text-align: center;
}

.drag-area{
  border: 2px dashed #fff;
  height: 350px;
  margin-bottom: 50%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.prediction{
  margin-top: 400px;
  z-index: 2;
  position: absolute;
  padding-left: 23%;
}

.card {
  position: relative;
  width: 196px;
  height: 296px;
  margin: 20px 20px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
  transition: 1s;
}
.card:hover {
  transform: translateX(50%);
  object-position: absolute;
  z-index: 5;
}
.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  z-index: 1;
  transform-style: preserve-3d;
  background: #000;
  transition: 1s;
}
.card:hover .imgBox {
  transform: rotateY(-180deg);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}
.card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card .imgBox img:nth-child(2) {
  transform: rotateY(180deg);
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.card .details h2 {
  text-align: center;
  font-weight: 700;
  line-height: 1em;
  color: #3f3f3f;
}
.card .details h2 span {
  color: #1a1a1a;
  font-size: 0.8em;
}
.card .details .social-icons {
  position: relative;
  display: flex;
  margin-top: 10px;
}
.card .details .social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
  display: flex;
  margin: 5px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #333;
  color: #fff;
  transition: 0.2s;
}
.card .details .social-icons a:hover {
  background: #d31a02;
}

figure{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left:50px;
}

