<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA_Compatible" content="ie=edge">
  <title>RBTeam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='aset/chrome.png')}}" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  <header id="header">
    <ul>
      <li><a href="#home" onclick="toggle()">up</a></li>
      <li><a href="#laporin" onclick="toggle()">what</a></li>
      <li><a href="#list" onclick="toggle()">how</a></li>
      <li><a href="#profile" onclick="toggle()" class="active">who</a></li>
    </ul>
    <div class="toggle" onclick="toggle()"></div>
  </header>

  <main>
    <section id="home">
      <div id="transparan-back">
        <div class="text-home">
        <h2> health is the real wealth</h2>
        <p>Face-to-face Fatigue Detection
        <br>we came for the same reason. health is a priceless
        </p>
        </div>
      </div>
    </section>

    <section id="laporin">
        <img src="{{url_for('static', filename='aset/homie111.png')}}" alt="" id="bg">
        <img src="{{url_for('static', filename='aset/homie33.png')}}" alt="" id="bg3">
        <img src="{{url_for('static', filename='aset/homie2.png')}}" alt="" id="bg2">
        <div class="desc-what">
      <h1>Face-To-Face Fatigue Detection</h1>

        <p>During a pandemic almost everyone works from home. According to the journal Ahima and several papers at Researchgate, the time to <u>interact with computers has increased since the pandemic and can lead to fatigue.</u> Fatigue when working from home is caused by too much work and loss of work limits, this has a major impact on health, especially due to the use of too much technology. <br>This project is designed to solve this problem by using a reminder that can adjust the schedule so that it can restore work boundaries and minimize fatigue due to prolonged use of technology.</p>
        </div>
    </section>

    <section id="list">
      <div class="row">
        <div class="column" style="background-color:#aaa;">
          <h2>How it works?</h2>
          <p>In the real application, you will see that the app take a picture and start scanning to take a decision if you are in fatigue or not.<br> The application flow will look like this. </p>
          <img src="{{url_for('static', filename='aset/flow.png')}}" alt="Application Flow">
        </div>
        <div class="column" style="background-color:#bbb;">
          <h2>Try it out!</h2>
          <p>Upload your photo, then see the result</p>
          <h2 class="prediction">Fatigue</h2>
          <form action="" method="post" enctype="multipart/form-data">
            <div class="drag-area">
              <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop to Upload File</header>
                <span>OR</span>
                <button>Browse File</button>
                <input type="file" name="file" hidden>
            </div>
          </form>
            
        </div>
      </div>
    </section>

      <!-- halaman bio -->
      <section id="profile">
       <aside> 
          <h1>Meet our crew</h1>
        <figure>
          <div class=".column-figure">
            <div class="card">
              <div class="imgBox">
                <img src="{{url_for('static', filename='aset/ad.png')}}">
                <img src="pp5 copy.png">
              </div>
              <div class="details">
                <div class="content">
                  
                  <h2>Fikri Aziz Athoillah<br><span>Android Dev</h2>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=".column-figure">
            <div class="card">
              <div class="imgBox">
                <img src="{{url_for('static', filename='aset/ad.png')}}">
                <img src="pp5 copy.png">
              </div>
              <div class="details">
                <div class="content">
                  
                  <h2>Adwityo S.P<br><span>Android Dev</h2>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=".column-figure">
            <div class="card">
              <div class="imgBox">
                <img src="{{url_for('static', filename='aset/gcp1.png')}}">
                <img src="{{url_for('static', filename='aset/alex2.png')}}">
              </div>
              <div class="details">
                <div class="content">
                  
                  <h2>Alexander DG Bangun<br><span>Cloud Engineer</h2>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=".column-figure">
            <div class="card">
              <div class="imgBox">
                <img src="{{url_for('static', filename='aset/ml.png')}}">
                <img src="pp5 copy.png">
              </div>
              <div class="details">
                <div class="content">
                  
                  <h2>Ervina Maharani<br><span>ML Engineer</h2>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=".column-figure">
            <div class="card">
              <div class="imgBox">
                <img src="{{url_for('static', filename='aset/ml.png')}}">
                <img src="pp5 copy.png">
              </div>
              <div class="details">
                <div class="content">
                  
                  <h2>Amar Ma`Ruf<br><span>ML Engineer</h2>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </figure>
          </aside>
      </section>
  </main>

<footer>
  <p>Copyright &#169; 2021, RBTeam-Bangkit 2021</p>
</footer>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>